@model int
@{

    ViewBag.Title = T("Admin.User.ChangePassword").Text;
    //active menu item (system name)
    //Html.SetActiveMenuItemSystemName("ChangePassword");

}
<sg-page title="@T("Admin.User.ChangePassword")">
    <form sg-form name="myform" data-ctrl="ChangePassword" data-id="@Model" token="@Html.RequestVerificationToken("ChangePassword")" form-controller="null">
            <sg-form-toolbar></sg-form-toolbar>
            <sg-input type="password" name="@T("Admin.User.Fields.OldPassword")" label="OldPassword" ng-model="model.OldPassword" ng-required="true"></sg-input>
            <sg-input type="password" name="@T("Admin.User.Fields.NewPassword")" label="NewPassword" ng-model="model.NewPassword" ng-required="true"></sg-input>
            <sg-input type="password" name="@T("Admin.User.Fields.ConfirmPassword")" label="ConfirmPassword" ng-model="model.ConfirmNewPassword" ng-required="true"></sg-input>
        </form>
</sg-page>

