@using Seagull.Admin.Extensions;
@using System.Linq;
@{
    var Langmodel = new LanguageSelectorModel();
    Langmodel.CurrentLanguage = EngineContext.Current.Resolve<Seagull.Core.IWorkContext>().WorkingLanguage.ToModel();
    Langmodel.AvailableLanguages = EngineContext.Current.Resolve<Seagull.Services.Localization.ILanguageService>()
        .GetAllLanguages(storeId: EngineContext.Current.Resolve<Seagull.Core.IStoreContext>().CurrentStore.Id)
        .Select(x => x.ToModel())
        .ToList();
    var rtl = false;
}

@if (Langmodel.AvailableLanguages.Count > 1)
{
    <li class="dropdown language-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="ace-icon fa fa-language"></i>
            @*<img src="@Url.Content("~/Content/Images/flags/" + Langmodel.CurrentLanguage.FlagImageFileName)" class="user-image" alt="User Image">*@
            <span class="hidden-xs">@T("Admin.Selected." + Langmodel.CurrentLanguage.Name)</span>
        </a>

        @{
    var webHelper = EngineContext.Current.Resolve<Seagull.Core.IWebHelper>();

    var languages = Langmodel.AvailableLanguages;


    @*@Html.SeagullDropDownList("userlanguage", languages, htmlAttributes: new { onchange = "setLocation(this.value);" })*@

            <ul class="dropdown-menu animated-dropdown-menu">
                @foreach (var item in languages)
                {
                    <li>
                        @if (item.Id != Langmodel.CurrentLanguage.Id)
                        {
                            // <a href="@Url.Action("SetLanguage", "Common", new { langid = item.Id, returnurl = HttpContext.Current.Request.RawUrl, area = "Admin" })"><img src='@Url.Content("~/Content/Images/flags/" + item.FlagImageFileName)'> @item.Name</a>
                            <a  href="@Url.Action("SetLanguage", "Common", new { langid = item.Id, returnurl = HttpContext.Current.Request.RawUrl, area = "Admin" })"><img class="margImg" src='@Url.Content("~/Content/Images/flags/")'/>@T("Admin.Selector." + item.Name)</a>
                        }
                        else
                        {
                            rtl = item.Rtl;
                            // <a href="#"><img src='@Url.Content("~/Content/Images/flags/" + item.FlagImageFileName)'> @item.Name</a>
                            <a  href="#"><img class="margImg" src='@Url.Content("~/Content/Images/flags/")' />@T("Admin.Selector." + item.Name)</a>
                        }

                    </li>
                }
            </ul>
            <cc id="userlanguage" name="userlanguage" style="display:none">
            </cc>
        }
    </li>
}
@if (!rtl)
{
    <style>
        .margImg {
            margin: -1px 7px 1px 0px;
        }
    </style>
}
else
{
    <style>
        .margImg {
            margin: 3px 0px 1px 4px;
        }
    </style>
}
