@model LanguageSelectorModel
@using Seagull.Web.Models.Common;
@using Seagull.Core;
@using Seagull.Core.Infrastructure;
@if (Model.AvailableLanguages.Count > 1)
{
    <div class="language-selector" style="text-align: center;margin-top: -25px;margin-bottom: 5px;">
        <i class="fa fa-language white"></i>
        @{
    var webHelper = EngineContext.Current.Resolve<IWebHelper>();

    if (Model.UseImages)
    {
        <ul class="language-list">
            @foreach (var lang in Model.AvailableLanguages)
            {
                <li>
                    <a href="@webHelper.ModifyQueryString(Url.Action("SetLanguage", new { langid = lang.Id }), "returnurl=" + HttpUtility.UrlEncode(HttpContext.Current.Request.RawUrl), null)" ti title="@lang.Name">
                        <img title='@lang.Name' alt='@lang.Name' @(lang.Id == Model.CurrentLanguageId ? " class=selected" : null)
                             src="@Url.Content("~/Content/Images/flags/" + @lang.FlagImageFileName) " />
                    </a>
                </li>
            }
        </ul>
    }
    else
    {
        var languages = Model.AvailableLanguages.Select(lang => new SelectListItem
        {
            Text = lang.Name,
            Value = webHelper.ModifyQueryString(Url.Action("SetLanguage", new { langid = lang.Id }), "returnurl=" + HttpUtility.UrlEncode(HttpContext.Current.Request.RawUrl), null),
            Selected = lang.Id.Equals(Model.CurrentLanguageId)
        });

        @Html.DropDownList("userlanguage", languages, new { onchange = "setLocation(this.value);" })
    }
        }
    </div>
}